#--- Application System Config
APP_HOSTNAME=                       # App hostname                                              e.g. 127.0.0.1
APP_PORT=                           # App port                                                  e.g. 4001


#--- Token
JWT_SECRET=                         # JWT secret key                                            e.g. thLkh78YZJP0er7LjLTw80vYua2IAfVU